BasedOnStyle: LLVM
IndentWidth: 2
BreakBeforeBraces: Allman
ColumnLimit: 120
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
PointerAlignment: Right
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
SpaceAfterCStyleCast: true
BinPackParameters: OnePerLine
